[Unit]
Description=gerrit-checks-mock-fetch-endpoint
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/gerrit-checks-mock-fetch-endpoint
ExecStart=@/usr/bin/python3 gerrit-checks-mock-fetch-endpoint -m gerrit_checks_mock_fetch_endpoint $ARGS
User=gerrit-checks-mock-fe
Group=gerrit-checks-mock-fe

[Install]
WantedBy=multi-user.target
